<div style="text-align: center">
    <img id="mySpinner" src="../images/spinner/loading.gif" ng-show="loading" />
</div>
<span ng-show="!loading">
<div class="row" style="background-color: #474C55;height:50px;" >
    <div class="container ">
        <ol class="breadcrumb bread">
            <li class="breadcrumb-item ">Student's Profile</li>
        </ol>
    </div>
</div>

<br>
<div class="container">
    <div class="row ">

        <!--profile -->
        <div class="col-md-12 container">
            <div class="panel panel-default">
                <form> 
                <span><i class="fa fa-search" aria-hidden="true"></i></span> &nbsp;
<input type="text" ng-model="search" placeholder="Search">&nbsp;
<button ng-if="!showCancel" ng-click="searchProjects(search)" class="btn btn-warning" style="margin-bottom: 2px;">Search</button>
<button ng-if="showCancel" ng-click="clearSearch()" class="btn btn-warning" style="margin-bottom: 2px;">Clear</button>

</form>
</div>
</div>
</div>

<div class="container col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <table class="table table-hover table-bordered students">
        <thead>
            <tr class="active">
                <th class="text-center" ng-click="sort('name')">Name
                    <span class="fa fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
                </th>
                <th class="text-center" ng-click="sort('department')">Department
                    <span class="fa fa-sort" ng-show="sortKey=='department'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
                </th>
                <th class="text-center">Email</th>
                <th class="text-center">Completed Courses</th>
                <th class="text-center">Current Course</th>
                <th class="text-center">Completed Projects</th>
                <th class="text-center">Current Projects</th>
                <th class="text-center">View</th>
            </tr>
        </thead>

        <tr ng-repeat="i in studentslist.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:sortKey:reverse ">
            <td>{{i.name}}</td>
            <td>{{i.departmentName}}</td>
            <td>{{i.emailId}}</td>
            <td style=" overflow: auto; height: 120px; ">
                <div ng-repeat="ccourse in i.courses.completedCourse ">{{ccourse}}<br><br></div>
            </td>
            <td style=" overflow: auto; height: 120px; ">
                <div ng-repeat="ccourse in i.courses.currentCourse ">{{ccourse}}<br><br></div>
            </td>
            <td style=" overflow: auto; height: 120px; ">
                <div ng-repeat="ccourse in i.courses.completedProject ">{{ccourse}}<br><br></div>
            </td>
            <td style=" overflow: auto; height: 120px; ">
                <div ng-repeat="ccourse in i.courses.currentProject ">{{ccourse}}<br><br></div>
            </td>
            <td style="vertical-align:middle;"><button class="btn btn-primary " ui-sref="individualStudent ({id: i.id , name: i.name}) ">View</button></td>
        </tr>
    </table>
    <center ng-show="showPages">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-md" items-per-page="itemsPerPage" max-size="maxSize">
        </ul>
    </center>
</div>

</div>
</span>