<div style="text-align: center">
    <img id="mySpinner" src="images/spinner/loading.gif" ng-show="loading" />
</div>
<span ng-show="!loading">
<div class="row" style="background-color: #474C55;height:50px;width:101%;" >
    <div class="container ">
        <ol class="breadcrumb bread">
            <li class="breadcrumb-item ">Student's Profile</li>
        </ol>
    </div>
</div>

<br>
<div class="container" >
    <div class="row ">

        <!--profile -->
        <div class="col-md-12 container">
            <div class="panel panel-default">
                <!--<div class="input-group container">-->
                <span><i class="fa fa-search" aria-hidden="true"></i></span> &nbsp;
<!--<input id="nameSearch" type="text" onKeyUp="myFunction()" placeholder=" Search Student Name">-->
<input type="text" ng-model="search" placeholder="Search">
<!--</div>-->
</div>
</div>
</div>

<div class="container col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <table class="table table-responsive table-hover table-bordered ">
        <thead>
            <tr class="active">
                <th class="text-center" ng-click="sort('name')">Name
                    <span class="fa fa-sort" ng-show="sortKey=='name'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
                </th>
                <th class="text-center" ng-click="sort('department')">Department
                    <span class="fa fa-sort" ng-show="sortKey=='department'" ng-class="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}"></span>
                </th>
                <th class="text-center">Email</th>
                <th class="text-center">Completed Courses</th>
                <th class="text-center">Current Course</th>
                <th class="text-center">Completed Projects</th>
                <th class="text-center">Current Projects</th>
                <th class="text-center">View</th>
            </tr>
        </thead>

        <tr ng-repeat="i in studentslist | filter: search | orderBy:sortKey:reverse">
            <td>{{i.name}}</td>
            <td>{{i.departmentName}}</td>
            <td>{{i.emailId}}</td>
            <td>
                <div ng-repeat="ccourse in i.courses.completedCourse">{{ccourse}}</div>
            </td>
            <td>
                <div ng-repeat="ccourse in i.courses.currentCourse">{{ccourse}}</div>
            </td>
            <td>
                <div ng-repeat="ccourse in i.courses.completedProject">{{ccourse}}</div>
            </td>
            <td>
                <div ng-repeat="ccourse in i.courses.currentProject">{{ccourse}}</div>
            </td>
            <td><button class="btn btn-primary" ui-sref="individualStudent ({id: i.id , name: i.name})">View</button></td>
        </tr>
        <!--<tr dir-paginate="a in studentslist | itemsPerPage:3| filter:search | orderBy:sortKey:reverse">
                <td>{{a.name}}</td>
                <td>{{a.departmentName}}</td>
                <td>{{a.emailId}}</td>
                <td>{{a.completedCourse}}</td>
                <td>{{a.currentCourse}}</td>
                <td>{{a.completedProject}}</td>
                <td>{{a.currentProject}}</td>
            </tr>-->
    </table>
    <dir-pagination-controls max-size="2" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
</div>
</div>
</span>